<div id="member-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          <%= member.user.first_name + ' ' + member.user.last_name %>
          <% if member.role == 'manager' %>
            [manager]
          <% end %>
        </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="d-flex">
          <div class="d-inline-flex p-2 bd-highlight"><%= cl_image_tag member.user.photo.key, height: 130, width: 130, crop: :fill %>
          </div>
        <div class="p-2">
          <h6 class="mb-3">
            <%= member.user.current_positions.first.job.delete_suffix!('s') %>
          </h6>
          <p>
            <i class="fas fa-users"></i> <%= member.user.teams.first.name %> team in the <%= member.user.teams.first.department %> department
          </p>
          <p>
            <i class="fas fa-graduation-cap"></i> <%= member.user.current_positions.first.seniority %> year(s) of experience
            <!-- <strong>Experience:</strong>  -->
          </p>
          <p>
            <i class="fas fa-envelope"></i> <%= member.user.email %>
           <!--  <strong> Email:</strong>  -->
          </p>
        </div>
      </div>
        <div class="p-2">
          <p>
            <em> "<%= member.user.description %>" </em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
