
<div class="navbar navbar-expand-sm navbar-light">
    <h2><i class="fas fa-rocket"></i> <%= link_to "Walk in my Team", root_path %> </h2>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%# unless current_user.positions.where(role: "manager").empty? %>
          <!-- <li class="nav-item pt-3">
            <strong> <%#= link_to "Manage walks", new_walk_path, class: "nav-link" %> </strong>
          </li> -->
        <%# end %>
        <li class="nav-item pt-3 walks_index">
          <h5> <%= link_to "Find a walk", walks_path, class: "nav-link active" %> </h5>
        </li>
        <li class="nav-item pt-3 pages_myapplications">
          <h5> <%= link_to "My applications", myapplications_path, class: "nav-link" %>  </h5>
        </li>
        <li class="nav-item pt-3 pages_dashboard">
          <h5> <%= link_to "My profile", dashboard_path, class: "nav-link" %> </h5>
        </li>
        <li class="nav-item pt-3">
          <h5> <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %> </h5>
        </li>
       <!-- <li class="nav-item pt-3">
        <div class="avatar">
          <div class="avatar-mine" style="background-image: url(<%= cl_image_path current_user.photo.key %>);">
          </div>
        </li> -->
      <% else %>
        <li class="nav-item pt-3">
          <h5> <%= link_to "Login", new_user_session_path, class: "nav-link" %> </h5>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <div class="avatar pl-2">
        <div class="avatar-mine" style="background-image: url(<%= cl_image_path current_user.photo.key, gravity: :face, width: 40 , height: 40, crop: :thumb; %>)">
        </div>
      </div>
    <% end %>
  </div>
</div>

