<div class="container pt-5">
  <div class="tab-content" id="pills-tabContent">
    <!-- Tab d'index des walks -->
    <div class="tab-pane fade" id="find" role="tabpanel" aria-labelledby="find-tab">
      <!-- Contenu -->
    </div>

    <!-- Tab des applications -->
    <div class="tab-pane fade" id="applications" role="tabpanel" aria-labelledby="applications-tab">
      <!-- Contenu -->
    </div>

    <!-- Tab de profile -->
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="d-flex justify-content-center flex-wrap">


        <!-- Profile -->
        <div class="card w-70 details-card">
          <div class="d-flex justify-content-start align-items-center">
            <center><%= cl_image_tag current_user.photo.key, height: 80, width: 80, crop: :fill %></center>
            <div class="pl-3">
              <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
              email: <%= current_user.email %>
            </div>
          </div>
        </div>

        <!-- <div class="accordion" id="accordionExample"> -->
          <!-- Current position -->
          <div class="card w-70 details-card accordion" id="accordionExample1">

            <div class="d-flex justify-content-between collapse-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h2 class="m-0"><i class="fas fa-street-view mx-3"></i>   Current position</h2>
              <!-- fa-map-marker / fa-map-marker-alt / fa-map-pin -->
              <div class="expand-notice">Click to expand</div>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample1">
              <p><strong>Team:</strong> <%= current_user.current_teams.first.name %></p>
              <p><strong>Department:</strong> <%= current_user.current_teams.first.department %></p>
              <p><strong>Role:</strong> <%= current_user.current_positions.first.role %></p>
              <p><strong>Job:</strong> <%= current_user.current_positions.first.job %></p>
              <p><strong>Seniority:</strong> <%= current_user.current_positions.first.seniority %> year(s)</p>
            </div>
          </div>

          <!-- Current skills -->
          <div class="card w-70 details-card accordion" id="accordionExample2">

              <div class="d-flex justify-content-between collapse-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h2 class="m-0"><i class="fa fa-check-circle mx-3"></i>   Current skills</h2>
                <div class="expand-notice">Click to expand</div>
              </div>

              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample2">
                <!-- I perfectly master -->
                <div class="mb-4">
                  <h2 class="level-title">I perfectly master</h2>
                  <% current_user.positions.first.top_skill_sets.each do |skill_set| %>
                  <div class="skill-card-wrapper">
                    <div class="skill-card">
                      <%= skill_set.skill.name.capitalize %>
                    </div>
                    <div class="skill-card-tools">
                      <div class="d-flex justify-content-between flex-wrap">
                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                        <a href=""><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>

                <!-- I am comfortable with -->
                <div class="mb-4">
                  <h2 class="level-title">I am comfortable with</h2>
                  <% current_user.positions.first.medium_skill_sets.each do |skill_set| %>
                  <div class="skill-card-wrapper">
                    <div class="skill-card">
                      <%= skill_set.skill.name.capitalize %>
                    </div>
                    <div class="skill-card-tools">
                      <div class="d-flex justify-content-between flex-wrap">
                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                        <a href=""><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>

                <!-- I have notions -->
                <div class="mb-4">
                  <h2 class="level-title">I have notions</h2>
                  <% current_user.positions.first.low_skill_sets.each do |skill_set| %>
                  <div class="skill-card-wrapper">
                    <div class="skill-card">
                      <%= skill_set.skill.name.capitalize %>
                    </div>
                    <div class="skill-card-tools">
                      <div class="d-flex justify-content-between flex-wrap">
                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                        <a href=""><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
          </div>

          <!-- Skills I'm interested in -->
          <div class="card w-70 details-card accordion" id="accordionExample3">
              <div class="d-flex justify-content-between collapse-header" id="headingThree"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <h2 class="m-0"><i class="fas fa-search-plus mx-3"></i>Skills I'm interested in</h2>
                <div class="expand-notice">Click to expand</div>
              </div>

              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample3">
                <!-- Must have skills -->
                <div class="mb-4">
                  <h2 class="level-title">Must have</h2>
                  <% current_user.top_skill_sets.each do |skill_set| %>
                  <div class="skill-card-wrapper">
                    <div class="skill-card">
                      <%= skill_set.skill.name.capitalize %>
                    </div>
                    <div class="skill-card-tools">
                      <div class="d-flex justify-content-between flex-wrap">
                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                        <a href=""><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>

                <!-- Interested in skills -->
                <div class="mb-4">
                  <h2 class="level-title">I am interested in</h2>
                  <% current_user.medium_skill_sets.each do |skill_set| %>
                  <div class="skill-card-wrapper">
                    <div class="skill-card">
                      <%= skill_set.skill.name.capitalize %>
                    </div>
                    <div class="skill-card-tools">
                      <div class="d-flex justify-content-between flex-wrap">
                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                        <a href=""><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>

                <!-- Why not skills -->
                <div class="mb-4">
                  <h2 class="level-title">Why not ?</h2>
                  <% current_user.low_skill_sets.each do |skill_set| %>
                  <div class="skill-card-wrapper">
                    <div class="skill-card">
                      <%= skill_set.skill.name.capitalize %>
                    </div>
                    <div class="skill-card-tools">
                      <div class="d-flex justify-content-between flex-wrap">
                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                        <a href=""><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>

          </div>

          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
