<div class="container">
  <div class="tab-content" id="pills-tabContent">
    <!-- Tab d'index des walks -->
    <div class="tab-pane fade" id="find" role="tabpanel" aria-labelledby="find-tab">
      <!-- Contenu -->
    </div>

    <!-- Tab des applications -->
    <div class="tab-pane fade" id="applications" role="tabpanel" aria-labelledby="applications-tab">
      <!-- Contenu -->
    </div>

    <!-- Tab de profile -->
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="d-flex justify-content-center flex-wrap mt-5">

        <!-- Profile -->
        <div class="card w-70">
          <div class="profile-card" data-user-id="<%= current_user.id %>">
            <div class="profile-picture">
              <%= cl_image_tag current_user.photo.key, height: 150, width: 150, crop: :fill, gravity: :face %>
            </div>
            <div class="profile-info">
              <div><h1><%= current_user.first_name %> <%= current_user.last_name %></h1></div>
              <div class="d-flex">
                  <p><i class="fas fa-envelope mr-1"></i> <%= current_user.email %></p>
                  <p><i class="fas fa-users mr-1"></i> <%= current_user.current_teams.first.name %></p>
                  <p><i class="fas fa-graduation-cap mr-1"></i> <%= current_user.experience %> year(s)</p>
              </div>

                <div class="search-toggle mb-2">
                  <span class="walk-popover" data-container="body" data-toggle="popover" data-trigger="hover"
                  data-placement="top" data-content="Type of walk you are looking for">
                  <div class="toggle-color d-flex">
                    <span class="mr-1 rocket <%= current_user.purpose == "Discovery" ? 'checked' : '' %>"><i class="fas fa-rocket mr-1"></i></span>
                    <ul class="tg-list">
                      <li class="tg-list-item">
                      <input class="tgl tgl-flat" id="cb4" type="checkbox" />
                      <label class="tgl-btn" for="cb4"></label>
                      <input id="toggle-authenticity-token" value="<%= form_authenticity_token %>" type="hidden" />
                      </li>
                    </ul>
                    <span class="ml-1 handshake <%= current_user.purpose == "Recruitment" ? 'checked' : '' %>"><i class="fas far fa-handshake ml-1"></i></span>
                  </div>
                  </span>
                </div>

              <div class="profile-description">
                <em><%= current_user.description %></em>
            </div>
            </div>
          </div>
        </div>

          <!-- -------------- -->
          <!-- Current skills -->
          <!-- -------------- -->
          <div class="card w-70 skills-card accordion mt-2" id="accordionExample2">

            <div class="d-flex justify-content-between collapse-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <h2 class="m-0"><i class="fa fa-check-circle mr-3"></i>Current skills</h2>
              <div class="expand-notice"><i class="fas fa-chevron-down"></i></div>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample2">

              <!-- I perfectly master -->
              <div class="mb-2">
                <h2 class="level-title">I perfectly master</h2>
                <div id="position-skills-3-container">
                  <% current_user.current_positions.first.top_skill_sets.each do |skill_set| %>
                    <%= render 'skill_sets/show', skill_set: skill_set %>
                  <% end %>
                </div>
              </div>

              <!-- I am comfortable with -->
              <div class="mb-2">
                <h2 class="level-title">I am comfortable with</h2>
                <div id="position-skills-2-container">
                  <% current_user.current_positions.first.medium_skill_sets.each do |skill_set| %>
                    <%= render 'skill_sets/show', skill_set: skill_set %>
                  <% end %>
                </div>
              </div>

              <!-- I have notions -->
              <div class="mb-2">
                <h2 class="level-title">I have notions</h2>
                <div id="position-skills-1-container">
                  <% current_user.current_positions.first.low_skill_sets.each do |skill_set| %>
                    <%= render 'skill_sets/show', skill_set: skill_set %>
                  <% end %>
                </div>
              </div>

              <!-- Add new skill -->
              <div class="skill-new-container">
                <div class="skill-new"><i class="fas fa-plus"></i> Add new skill</div>
                <div class="skill-new-form-container">
                  <div id="position-skill-form">
                    <%= render 'skill_sets/form', skill_set: @skill_set, skillable_type: "Position" %>
                  </div>
                  <div class="skill-new-cancel"><div class="close-cross"><i class="fas fa-times"></i></div> <div class="close-text">Close</div></div>
                </div>
              </div>

            </div>
          </div>

          <!-- ------------------------ -->
          <!-- Skills I'm interested in -->
          <!-- ------------------------ -->
          <div class="card w-70 skills-card accordion mb-5" id="accordionExample3">
            <div class="d-flex justify-content-between collapse-header" id="headingThree"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <h2 class="m-0"><i class="fas fa-search-plus mr-3"></i>Skills I'm interested in</h2>
              <div class="expand-notice"><i class="fas fa-chevron-down"></i></div>
            </div>

            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample3">

              <!-- Must have skills -->
              <div class="mb-2">
                <h2 class="level-title">Must have</h2>
                <div id="user-skills-3-container">
                  <% current_user.top_skill_sets.each do |skill_set| %>
                    <%= render 'skill_sets/show', skill_set: skill_set %>
                  <% end %>
                </div>
              </div>

              <!-- Interested in skills -->
              <div class="mb-2">
                <h2 class="level-title">I am interested in</h2>
                <div id="user-skills-2-container">
                  <% current_user.medium_skill_sets.each do |skill_set| %>
                    <%= render 'skill_sets/show', skill_set: skill_set %>
                  <% end %>
                </div>
              </div>

              <!-- Why not skills -->
              <div class="mb-2">
                <h2 class="level-title">Why not ?</h2>
                <div id="user-skills-1-container">
                  <% current_user.low_skill_sets.each do |skill_set| %>
                    <%= render 'skill_sets/show', skill_set: skill_set %>
                  <% end %>
                </div>
              </div>

              <!-- Add new skill -->
              <div class="skill-new-container">
                <div class="skill-new"><i class="fas fa-plus"></i> Add new skill</div>
                <div class="skill-new-form-container">
                  <div id="user-skill-form">
                    <%= render 'skill_sets/form', skill_set: @skill_set, skillable_type: "User" %>
                  </div>
                  <div class="skill-new-cancel"><div class="close-cross"><i class="fas fa-times"></i></div> <div class="close-text">Close</div></div>
                </div>
            </div>

          </div>
        </div>

          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
