<div class="container pt-5">
  <div class="tab-content" id="pills-tabContent">
    <!-- Tab d'index des walks -->
    <div class="tab-pane fade show active" id="find" role="tabpanel" aria-labelledby="find-tab">
      Walks
    </div>

    <!-- Tab des applications -->
    <div class="tab-pane fade" id="applications" role="tabpanel" aria-labelledby="applications-tab">
      Applications
    </div>

    <!-- Tab de profile -->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="d-flex pt-5 justify-content-center flex-wrap">
        <div class="sticky-profile mr-2">
          <div class="card photo-card pt-4">
            <center><%= cl_image_tag current_user.photo.key, height: 120, width: 120, crop: :fill %></center>
            <br>
            <p><strong>Name:</strong> <%= current_user.first_name %> <%= current_user.last_name %></p>
            <p><strong>Email:</strong> <%= current_user.email %></p>
            <p><strong>Seniority:</strong> <%= current_user.seniority %> year(s)</p>
          </div>
          <div class="mt-3 text-center">
            <center><a href="" class="btn-start">Edit my profile</a></center>
          </div>
        </div>
        <div class="card w-60 details-card">
          <div>
            <h2><i class="fas fa-map-marker-alt"></i> Current position</h2>
            <p><strong>Team:</strong> <%= current_user.current_teams.first.name %></p>
            <p><strong>Department:</strong> <%= current_user.current_teams.first.department %></p>
            <p><strong>Role:</strong> <%= current_user.current_positions.first.role %></p>
            <p><strong>Job:</strong> <%= current_user.current_positions.first.job %></p>
            <p><strong>Seniority:</strong> <%= current_user.current_positions.first.job %></p>
          </div>
          <div class="pt-3">
            <h2><i class="fas fa-check-square"></i> Current skills</h2>
            <h2 class="level-title">I perfectly master</h2>
            <div>
              <div class="skill-card-wrapper">
                <div class="skill-card">
                  Choose the right type of math to solve a problem
                </div>
                <div class="skill-card-tools">
                  <div class="d-flex justify-content-between">
                    <div><a href=""><i class="fas fa-pencil-alt"></i></a></div>
                    <div><a href=""><i class="fas fa-times"></i></a></div></div>
                </div>
              </div>
              <div class="skill-card">
                Listen and understand what people say
              </div>
              <div class="skill-card">
                Add, subtract, multiply, or divide
              </div>
            </div>
            <h2 class="level-title">I am comfortable with</h2>
            <div class= "d-flex flex-wrap">
              <div class="skill-card">
                Choose the right type of math to solve a problem
              </div>
              <div class="skill-card">
                Listen and understand what people say
              </div>
              <div class="skill-card">
                Add, subtract, multiply, or divide
              </div>
            </div>
          </div>
          <h2>Skills I'm interested in</h2>
        </div>
      </div>
    </div>
    Profile
  </div>
</div>
