<!-- First section : video banner -->
<div class="video-relative" id="video-home">
  <div class="align-self-start" id="navbar-home">
    <%= render 'shared/navbar' %>
  </div>
  <%= video_tag ["video_blond_xs.webm", "video_blond_xs.mp4"], autoplay: true, loop: true, muted: true, class: "video" %>
  <div class="video-absolute-typed">
    <h1><strong><span id="banner-typed-text"></span></strong></h1>
  </div>
  <div class="video-absolute-btn">
    <a href="#pts" class="banner-link"><div class="banner-button btn-apply">Start now !</div></a>
  </div>
</div>


<!-- Second section : Pain Target Solution (id = pst) -->
<div class="container d-flex flex-column justify-content-center align-items-center pt-3" id="pts">
  <div class="text-center">
    <h1>WalkInMy.Team helps you connect with your colleagues<br/> for a more vibrant and efficient company</h1>
  </div>
  <div class="pts-cards">
    <div class="pts-card">
      <h3>Find</h3>
      <p>Fill in your profile and let the app suggest a great match!</p>
      <i class="fas fa-search"></i>
    </div>
    <div class="pts-card">
      <h3>Apply</h3>
      <p>Apply to the walks that best fit your expectations</p>
      <i class="fas fa-check"></i>
    </div>
    <div class="pts-card">
      <h3>Walk !</h3>
      <p>Walk in a new team and learn more about your company!</p>
      <i class="fas fa-walking"></i>
    </div>
  </div>
  <div>
    <a href="#walks" class="banner-link"><div class="banner-button btn-apply">Show me more</div></a>
  </div>
</div>

<!-- Intermediary section -->
<div class="banner mb-5">
<!-- class="banner d-flex flex-column justify-content-between align-items-center" id="static-banner" -->
</div>

<!-- Third section : Walks examples (id = walks) -->
<div class="container d-flex flex-column pt-3 mt-5" id="walks">
  <div class="p-3">
  <h2>Our best walks</h2>
  </div>
  <div class="row">
    <% raise %>
    <% @user_walks.each do |user_walked| %>
      <div class="col cards">
        <div class="card-homepage">
          <!-- Walk team picture -->
          <% if user_walked.walk.team.photo.attached?%>
            <%= cl_image_tag user_walked.walk.team.photo.key, width: 400, height: 300, crop: :fill %>
          <% else %>
            <%= cl_image_tag "", width: 400, height: 300, crop: :fill %>
          <% end %>
          <!-- Walk team details -->
          <div class="card-homepage-infos">
            <div>
              <h4><%= user_walked.walk.team.name %></h4>
              <p><%= user_walked.walk.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<!-- Fourth section : Testimonies (id = walks) -->
<div class="p-4">
  <h2>Walker's reviews</h2>
</div>

  <div class="row ">

    <div class="col cards">
      <div class="card-testimony">
        <div class="card-info d-flex align-items-center">
          <img alt="Julien" class="rounded-circle mr-4" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
          <h4 class="m-0">Julien</h4>
        </div>
        <div class="card-description p-2">
          <p style="margin: 0;"><i>"WIM.T allowed me to discover what my cubicule neighbors are working on... And now we work together everyday!"</i></p>
        </div>
      </div>
    </div>

    <div class="col cards">
      <div class="card-testimony">
        <div class="card-info d-flex align-items-center">
          <img alt="Julien" class="rounded-circle mr-4" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
          <h4 class="m-0">Julien</h4>
        </div>
        <div class="card-description p-2">
          <p style="margin: 0;"><i>"Great cross-knowledge experience. I have lunch with my welcoming team once a week now."</i></p>
        </div>
      </div>
    </div>

    <div class="col cards">
      <div class="card-testimony">
        <div class="card-info d-flex align-items-center">
          <img alt="Julien" class="rounded-circle mr-4" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
          <h4 class="m-0">Julien</h4>
        </div>
        <div class="card-description p-2">
          <p style="margin: 0;"><i>"I discovered a whole new job through my one-week walk. Ready for a mobility now!"</i></p>

    <% @user_walks.each do |user_walked| %>
      <div class="col cards">
        <div class="card">
          <div class="card-info d-flex align-items-center">
            <% if user_walked.user.photo.attached?%>
              <%= cl_image_tag user_walked.user.photo.key, width: 64, height: 64, crop: :fill, gravity: :face, class="rounded-circle mr-4" %>
            <% else %>
              <%= cl_image_tag "", width: 64, height: 64, crop: :fill, class="rounded-circle mr-4" %>
            <% end %><h4 class="m-0">user_walked.user.first_name</h4>
          </div>
          <div class="card-description p-2">
            <p style="margin: 0;"><i>"user_walked.review"</i></p>
          </div>

        </div>
      </div>
    <% end %>
  </div>

</div>


