<div class="container my-5">


  <!-- My applications---------------------------------------->
  <h1 class="book-title">My applications</h1>
  <div class="border border-dark p-4 w-100 border-bottom-0 border-left-0 border-right-0">
    <div class="cards-walks">
      <br>
        <% @upcoming_user_walks.each do |user_walk| %>
            <div class="card-dashboard" data-user-walk-id="<%= user_walk.id %>">
              <div class="card-dashboard-image">
                <div class="application-status">
                  <span class="badge badge-primary"><%= user_walk.status %></span>
                </div>
                  <%= cl_image_tag user_walk.walk.team.photo.key, width: 180, height: 180, crop: :fill, gravity: :face if user_walk.walk.team.photo.attached? %>
              </div>
              <div class="card-dashboard-infos">
                <h2><%= user_walk.walk.title %></h2>
                <h6 class="duration mb-2"><i class="fas fa-calendar-week"></i><%= user_walk.display_start_date %> - <%= user_walk.display_end_date %> </h6>
                <h6 class="duration">
                <% if user_walk.walk.purpose == "Recruitment"%>
                  <i class="fas far fa-handshake">
                  </i> Recruitment
                <% else %>
                  <i class="fas fa-rocket">
                  </i> Discovery
                <% end %>
                <i class="ml-3 fas fa-users">
                </i><%= user_walk.walk.team.name %>
                <i class="ml-3 fas fa-thumbtack">
                </i><%= user_walk.walk.team.location %> </h6>
                <p>My message:
                <%= user_walk.motivation.truncate(100) %> </p>
              </div>
              <div class="myapp-btns">
                <%= link_to walk_path(user_walk.walk) do %>
                  <div class="btn-details">Details</div>
                <% end %>
                <%=link_to user_walk, method: :delete, data: {confirm: "Are you sure you want to cancel your application?"}, remote: true do %>
                  <div class="btn-delete">Cancel application</div>
                <% end %>
              </div>
            </div>

        <% end %>
      <br>
    </div>
  </div>

  <h1 class="book-title">My past walks</h1>
  <div class="border border-dark p-4 w-100 border-bottom-0 border-left-0 border-right-0">
    <div class="cards-walks">
      <br>
        <% @past_user_walks.each do |user_walk| %>

            <div class="card-dashboard">

            <%= cl_image_tag user_walk.walk.team.photo.key, width: 180, height: 180, crop: :fill, gravity: :face if user_walk.walk.team.photo.attached? %>
            <div class="card-dashboard-infos">
            <h2><%= user_walk.walk.title %></h2>
            <h6 class="duration mb-2"><i class="fas fa-calendar-week"></i><%= user_walk.display_start_date %> - <%= user_walk.display_end_date %> </h6>
            <h6 class="duration">
            <% if user_walk.walk.purpose == "Recruitment"%>
              <i class="fas far fa-handshake">
              </i> Recruitment
            <% else %>
              <i class="fas fa-rocket">
              </i> Discovery
            <% end %>
            <i class="ml-3 fas fa-users">
            </i><%= user_walk.walk.team.name %>
            <i class="ml-3 fas fa-thumbtack">
            </i><%= user_walk.walk.team.location %> </h6>

            <p><%= user_walk.walk.description.truncate(100) %> </p>
            </div>
             <div class="myapp-btns">
              <%= link_to walk_path(user_walk.walk) do %>
                <div class="btn-details">Details</div>
              <% end %>
            </div>
          </div>

        <% end %>
      <br>
    </div>
  </div>

</div>




