<div class="container py-4">
  <h1 class="book-title">Walk in...</h1>

  <div class="d-flex mt-3">
  <%= form_tag( walks_path, {method: :get, class: 'form-inline'}) do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mr-2 w-70vw",
      placeholder: "Find a Walk"
    %>
    <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>
  </div>


  <div class="">
    <br>
      <% @walks.each do |walk| %>
        <div class="card-dashboard">
          <%= cl_image_tag walk.team.photo.key, crop: :fill, gravity: :face if walk.team.photo.attached? %>
          <div class="card-dashboard-infos">
            <h2>Walk in the <%= walk.team.name %> Team!</h2>
            <h3 class="duration"><i class="fas fa-calendar-week"></i><%= walk.duration %> </h3>
            <p><%= walk.description %> </p>
          </div>
          <!-- Progress bar 1 -->
          <div class="gauge-index">
            <div class="progress mx-auto" data-value='40'>
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <p class="progress-font">40<sup class="small">%</sup></p>
              </div>
            </div>
          </div>
          <div class="location-apply">
            <h3 class="location"><i class="fas fa-thumbtack"></i><%= walk.team.location %> </h3>
            <%= link_to "Apply", walk_path(walk), class: "btn-apply" %>
          </div>
        </div>
      <% end %>
    <br>
  </div>
</div>

