  <!-- Searchbar -->
<div class="searchcontainer container-fluid p-0", id="searchbar-container">
  <div class="d-flex justify-content-around", id="searchbar">
  <%= form_tag( walks_path, {method: :get, class: 'form-inline'}) do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-field mr-2 w-70vw",
      placeholder: "Find a Walk"
    %>
    <%= select_tag(
      :location,
      options_for_select(Team.all.map{|t| t.location}.sort.uniq!, :location),
      include_blank: "Location",

      class: "form-control search-field mr-2 w-70vw" #select2

    ) %>

    <%= select_tag(
      :department,
      options_for_select(Team.all.map{|t| t.department}.sort.uniq!, :department),
      prompt: "Department",
      class: "form-control search-field mr-2 w-70vw"
    ) %>
    <%= select_tag(
      :duration,
      options_for_select(Walk.all.map{|w| w.duration}.sort.uniq!, :duration),
      include_blank: "Duration",
      class: "form-control search-field mr-2 w-70vw"
    ) %>
    <%= submit_tag "Search", class: "btn btn-search search-field" %>
  <% end %>
  </div>
</div>


<div class="container">
  <div class="cards-walks">
    <br>
      <% @walks.each do |walk| %>
        <%= link_to walk_path(walk) do %>
          <div class="card-dashboard">
            <div class="card-dashboard-image">
              <%= cl_image_tag walk.team.photo.key, width: 140, height: 140, crop: :fill, gravity: :face if walk.team.photo.attached? %>
            </div>
            <div class="card-dashboard-infos">
              <h2><%= walk.title %></h2>
              <h3 class="duration">
                <span class="walk-popover" data-container="body" data-toggle="popover" data-trigger="hover"
                data-placement="bottom" data-content="Suggested walk duration">
                  <i class="fas fa-calendar-week">
                  </i><%= walk.duration %>
                </span>
                <span class="walk-popover" data-container="body" data-toggle="popover" data-trigger="hover"
                  data-placement="bottom" data-content="Purpose of the Walk">
                  <% if walk.purpose == "Recruitment"%>
                    <i class="ml-3 fas far fa-handshake">
                    </i> Recruitment
                  <% else %>
                    <i class="ml-3 fas fa-rocket">
                    </i> Discovery
                  <% end %>
                </span>
              <span class="walk-popover" data-container="body" data-toggle="popover" data-trigger="hover"
                  data-placement="bottom" data-content="Team offering the Walk">
                <i class="ml-3 fas fa-users">
                </i><%= walk.team.name %>
              </span>
              <span class="walk-popover" data-container="body" data-toggle="popover" data-trigger="hover"
                  data-placement="bottom" data-content="Location of the Walk">
                <i class="ml-3 fas fa-thumbtack">
                </i><%= walk.team.location %> </h3>
              </span>
              <p><%= walk.description.truncate(150) %> </p>

            </div>

            <!-- Progress bar 1 -->
            <div class="gauge-index walk-popover" data-container="body" data-toggle="popover" data-trigger="hover"
                  data-placement="right" data-content="Matching score based on your skills and on the Walk's required skills">
              <div class="progress mx-auto" data-value=<%= "#{ScoreService.new.score(walk, @user)}" %>>
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                  <p class="progress-font"><%= "#{ScoreService.new.score(walk, @user)}" %><sup class="small">%</sup></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <br>
  </div>
</div>

