<div class="container p-4">

  <!-- LHS column with content -->
  <div class="card details-card p-4">
    <!-- Photo next to details -->
    <div class="d-flex justify-content-between">
      <div >
        <% if @walk.team.photo.attached?%>
           <%= cl_image_tag @walk.team.photo.key, width: 450, height: 325, crop: :fill %>
        <% else %>
          <%= cl_image_tag "", width: 400, height: 300, crop: :fill %>
        <% end %>
      </div>
      <div class= "mx-4 align-self-center flex-shrink-1" >
        <h2 class="book-title mb-3"><%= @walk.title %> </h2>
        <p><%= @walk.description %></p>
        <div class="d-flex mt-5">
          <div>
            <h3>Matching</h3>
            <p>Our matching scores take into account the skills you would like to acquire \
            as well as the relevance of your skills via à vis the proposed walk.</p>
          </div>
          <div>

            <!-- gauge -->
            <div class="gauge-index ml-5 mr-3">
              <div class="progress mx-auto" data-value=<%= "#{ScoreService.new.score(@walk, current_user)}" %>>
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                  <p class="progress-font"><%= "#{ScoreService.new.score(@walk, current_user)}" %><sup class="small">%</sup></p>
                </div>
              </div>
            </div>

          </div>
        </div>
       </div>
    </div>

    <!-- Matching in words-->
    <!-- <div class="d-flex justify-content-between my-4">
      <div class="align-self-center flex-shrink-1">
        <h3>Matching</h3>
        <p>Our matching scores take into account the skills you would like to acquire \
      as well as the relevance of your skills via à vis the proposed walk.</p>
      </div>
    </div> -->

    <!-- Grid of team-members -->
    <div>
      <h3>Team</h3>
      <p><%= @walk.team.description %></p>

        <div class=" d-flex justify-content-around flex-wrap py-3">
          <% @walk.team.positions.each do |member| %>
            <%= link_to position_path(member), remote: true do %>
            <!-- , data: {toggle: "modal", target: "#profileModal"} -->
            <!-- <a class="d-flex m-2 p-0 card-mini-profile" data-toggle="modal" data-target="#profileModal" data-whatever=<%= member.id %>> -->
              <div class="d-flex m-2 p-0 card-mini-profile">
                <div>
                  <% if member.user.photo.attached?%>
                    <%= cl_image_tag member.user.photo.key, width: 50, height: 50, crop: :fill, gravity: :face %>
                  <% else %>
                    <%= cl_image_tag "", width: 50, height: 50, crop: :fill, gravity: :face %>
                  <% end %>
                </div>
                <div class="ml-2 align-self-center">
                  <div >
                    <h6 class="mb-1"> <%= member.user.first_name %> <%= member.user.last_name %> </h6>
                  </div>
                  <div>
                    <%= truncate(member.job.delete_suffix!('s'), length: 35, separator: ' ') %>
                  </div>
                </div>
              </div>
            <!-- </a> -->
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-apply px-4" data-toggle="modal" data-target="#applicationModal">
        Apply
      </button>
    </div>

    <div class="container d-flex justify-content-around my-5 button btn-letswalk">
      Get started!
    </div>


  </div>
</div>

<!-- Modal apply -->
<div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="applicationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applicationModalLabel">Let's walk together!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@walk, @user_walk] do |f| %>
          <%= f.input :motivation, type: "text", label: "A few words about my motivation", class: "form-control", as: :text %>
          <div class="form-row p-3 booking-row">
          <div class="col">
            <%= f.input :start_date, type: "text", label: "Start date I suggest", class: "form-control", as: :string, input_html: { id: "range_start" } %>
          </div>
          <div class="col">
            <%= f.input :end_date, type: "text", label: "End date I suggest", class: "form-control", as: :string, input_html: { id: "range_end" } %>
          </div>
          </div>
            <%= f.submit 'Send', class: 'btn btn-apply w-100 mb-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal AJAX by hand -->
<div id='member-content'></div>
