<div class="container my-4">

<h1 class="book-title mb-3">Walk in the <%= @walk.team.name %> team from <%= @walk.team.department%> the department</h1>

<div class="row">

  <!-- LHS column with content -->
  <div class="col-12 card py-3">
    <!-- Photo next to details -->
    <div class="d-flex flex-wrap">
      <div >
        <% if @walk.team.photo.attached?%>
           <%= cl_image_tag @walk.team.photo.key, width: 400, height: 300, crop: :fill %>
        <% else %>
          <%= cl_image_tag "", width: 400, height: 300, crop: :fill %>
        <% end %>
      </div>
      <div class= "mx-3" style="width: 60%;">
        <h5>Walk:</h5>
        <p><%= @walk.description %></p>
        <h5>Team:</h5>
        <p><%= @walk.team.description %></p>
      </div>
    </div>

    <!-- Matching in words-->
    <div class="d-flex flex-wrap my-4">
      <div style="width: 65%;" class="mr-4">
        <h5>Matching:</h5>
        <p>Our matching scores take into account the skills you would like to acquire \
      as well as the relevance of your skills via à vis the proposed walk.</p>
      </div>
      <!-- gauge -->
      <div class="progress green">
        <span class="progress-left">
          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar"></span>
        </span>
        <div class="progress-value">50%</div>
      </div>
    </div>

    <!-- Matching in colors
    <div class="row my-4">
        <div class="col-md-3 col-sm-6">
            <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">50%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress pink">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">66%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
        </div>
    </div>
    -->

    <!-- Grid of team-members -->
    <div>
      <h5>Team members:</h5>
      <div>
        <div class="d-flex flex-wrap">
          <% @walk.team.positions.each do |member| %>
            <div class="d-flex m-1 p-0 card-mini-profile">
              <div>
              <% if @walk.team.photo.attached?%>
                <%= cl_image_tag member.user.photo.key, width: 50, height: 50, crop: :fill, gravity: :face %>
              <% else %>
                <%= cl_image_tag "", width: 50, height: 50, crop: :fill, gravity: :face %>
              <% end %>
              </div>
              <div class="ml-1">
                <p class="mb-0"><%= member.user.first_name %> <%= member.user.last_name %></br><%= member.job.delete_suffix!('s') %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>



  <!-- RHS column with booking slider -->
  <!--
  <div class="col-3">
    <div class="booking-card text-center">
      <div class="card p-3">
        <h5>Apply to this <strong>Walk</strong></h5>
         <%#= link_to  %>-->
        <!--
        <%#= simple_form_for [@walk, @user_walk] do |f| %>
          <div class="form-row p-3">
            <div class="col">
              <%#= f.input :start_date, type: "text", class: "form-control", as: :string, input_html: { id: "range_start" } %>
            </div>
            <div class="col">
              <%#= f.input :end_date, type: "text", class: "form-control", as: :string, input_html: { id: "range_end" } %>
            </div>
          </div>
          <%#= f.submit 'Book!', class: 'btn btn-primary w-50 mb-2' %>
        <% #end %>
        --><!--
      </div>
    </div>
  </div>
  -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-apply mt-4 w-100" data-toggle="modal" data-target="#exampleModal">
      Apply
    </button>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Let's walk together!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@walk, @user_walk] do |f| %>
          <%= f.input :motivation, type: "text", label: "A few words about your motivation:", class: "form-control", as: :text %>
          <div class="form-row p-3 booking-row">
          <div class="col">
            <%= f.input :start_date, type: "text", label: "Suggested start date", class: "form-control", as: :string, input_html: { id: "range_start" } %>
          </div>
          <div class="col">
            <%= f.input :end_date, type: "text", label: "Suggested end date", class: "form-control", as: :string, input_html: { id: "range_end" } %>
          </div>
          </div>
            <%= f.submit 'Book!', class: 'btn btn-apply w-100 mb-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
